$colors: (
    primary: (50: #eceef6,
        100: #c4c9e2,
        200: #a8afd3,
        300: #808bbf,
        400: #6775b3,
        500: #7950f2,
        600: #6741d9,
        700: #354694,
        800: #242d58,
        900: #1b2243),
    fail: (50: #fdedea,
        100: #f9c6bd,
        200: #f6ab9d,
        300: #f28471,
        400: #ef6d55,
        500: #fa5252,
        600: #e03131,
        700: #a7331f,
        800: #812818,
        900: #631e12),
    black: (50: #ececee,
        100: #c3c5c9,
        200: #a5a9af,
        300: #7c818a,
        400: #636974,
        500: #3c4351,
        600: #373d4a,
        700: #2b303a,
        800: #21252d,
        900: #191c22),
    success: (50: #e6f9f2,
        100: #b0ebd6,
        200: #8ae2c2,
        300: #54d4a6,
        400: #33cc95,
        500: #00bf7a,
        600: #00ae6f,
        700: #008857,
        800: #006943,
        900: #005033),
    light: (50: #dee2e6,
        100: #adb5bd),
    golden: (100: #d0c385,
        500: #ffd000,
        900: #b0a31b),
    dark: (50: #d2d2d2,
        100: #424242,
        200: #000000)
);