.box {
    width: 42rem;
    max-width: 42rem;
    background: var(--color-background-500);
    border-radius: 0.9rem;
    overflow: auto;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: var(--color-golden-500) var(--color-golden-500);
}