@use './../abstracts/functions' as *;
@use './../abstracts/mixins' as *;

.btn-add {
    background-color: color(primary, 600);
    color: var(--color-text);
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 1rem color(primary,500);
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.btn-add:hover {
    background-color: color(primary, 500);
}

.btn-back {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    height: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    /* background-color: var(--color-text); */
    background-color: #fff;
    color: var(--color-background-500);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete {
    position: absolute;
    right: 2.4rem;

    height: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-red);
    color: var(--color-background-900);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-delete:hover {
    background-color: var(--color-red-dark);
}

.btn-toggle {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    height: 2.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-background-900);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}