@use './../abstracts/functions' as *;
@use './../abstracts/mixins' as *;

.details {
    line-height: 1.4;
    font-size: 1.4rem;
    height: 100%;
    @include flex-center(null, null);
    flex-direction: column;

    & header {
        display: grid;
        grid-template-columns: 0.8fr 1fr;

        @include respond(phone) {
            grid-template-columns: 1fr;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & section {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        font-family: sans-serif;
        letter-spacing: 0.5px;

        @include respond(tab-port) {
            padding: 2rem;
        }

        @include respond(phone) {
            padding: 1rem;
        }

        & .plot {
            font-family: sans-serif;
            font-size: 1.8rem;

            svg:first-child {
                margin-right: 0.5rem;
                color: color(black, 300);
                font-size: 1.8rem;
            }
        }

        & .actors {
            font-family: sans-serif;
            font-size: 1.4rem;

            svg:first-child {
                margin-right: 0.5rem;
                color: color(black, 300);
                font-size: 2rem;
            }
        }

        & .director {
            font-family: sans-serif;
            font-size: 1.4rem;

            svg:first-child {
                margin-right: 0.5rem;
                color: color(black, 300);
                font-size: 1.8rem;
            }
        }
    }

    & img {
        width: 40%;
    }

    &-overview {
        width: 100%;
        padding: 2.4rem 1.5rem;
        background-color: var(--color-background-100);
        display: flex;
        flex-direction: column;
        gap: 1.4rem;

        & h2 {
            font-size: 2.2rem;
            margin-bottom: 0.4rem;
            line-height: 1.2;
        }

        & p {
            display: flex;
            font-size: 1.2rem;
            align-items: center;
            gap: 0.8rem;

            svg:first-child {
                color: color(black, 300);
                font-size: 1.8rem;
            }
        }
    }
}

.datials_rating {
    color: color(golden, 500);
    // @include flex-center(null, center);

}