@use '../abstracts/mixins' as *;

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & img {
        width: 17rem;

        @include respond(tab-port) {
            width: 14rem;
        }
    }
}

.logo span {
    font-size: 3.2rem;
}

.logo h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}