@use '../abstracts/mixins' as *;

.num-results {
    justify-self: end;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    @include respond(phone) {
        display: none;
    }
}