@use './../abstracts/functions' as *;
@use './../abstracts/mixins' as *;

.summary {
    padding: 2.2rem 3.2rem 1.8rem 3.2rem;
    border-radius: 0.9rem;
    background-color: var(--color-background-100);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);

    @include respond(tab-port) {
        padding: 2.2rem 1.5rem;
    }
    @include respond(phone) {
        padding: 2.2rem 1rem;
    }

    & h2 {
        // text-transform: uppercase;
        font-family: 'comic';
        letter-spacing: 1px;
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 2.4rem;
        font-size: 1.6rem;
        font-weight: 600;
    }

    & p {
        font-family: 'KottaOne';
        display: flex;
        align-items: center;
        gap: 0.8rem;
        
        @include respond(phone) {
            font-size: 1rem;
            gap: 0.5rem;
        }
    }

    &_movie {}

    &_star {
        color: color(golden, 100);
    }

    &_average {
        color: color(fail, 300);
    }

    &_time {
        color: color(primary, 100);
    }
}