@use './../abstracts/functions' as *;
@use './../abstracts/mixins' as *;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-900) var(--color-background-500);
}

body {
    font-family: 'open-sans';
    padding: 2.4rem;
    color: var(--color-text);
    background-color: var(--color-background-900);
}


:root {
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --color-red: #fa5252;
    --color-red-dark: #e03131;
}