@use './../abstracts/functions' as *;
@use './../abstracts/mixins' as *;

.footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;

    &_firstCol {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: color(primary, 700);
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 4rem;
        padding: 1rem 3rem;

        @include respond(tab-port) {
            width: 60%;
        }

        @include respond(phone) {
            width: 85%;
        }
    }

    &_social {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        & a {
            color: white;
        }
    }

    &_icon {
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &_logo {
        & img {
            width: 18rem;

            @include respond(tab-port) {
                width: 15rem;
            }
        }
    }

    &_secondCol {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: color(primary, 900);
        border-top: 1px solid color(primary, 600);
        border-bottom: 1px solid color(primary, 600);
        padding: 6rem 3rem 3rem 3rem;
        border-radius: 0.5rem;

        @include respond(phone) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 4rem;
        }



        & h3 {
            font-size: 3rem;
            font-family: 'Caveat';
            font-weight: 100;
            text-transform: capitalize;
            color: color(black, 200);
        }

        & p {
            color: color(black, 50);
            font-size: 1.4rem;

        }

    }

    &_copyright {
        background: color(primary, 700);
        padding: 1rem 4rem;
        text-align: center;
        font-family: 'comic';
        font-size: 1.8rem;
        color: color(black, 100);
        border-radius: 0.5rem;

        @include respond(phone) {
            font-size: 1.4rem;
            padding: 1rem 2rem;
        }

        & span {
            font-family: 'Caveat';
            font-size: 2.5rem;
            color: color(black, 50);

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }
}